.comments-textarea {
  background-color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  border: 1px solid #dedede;
}
.comments-textarea:focus, .comments-textarea:active {
  outline: none;
  border: 1px solid #3fb9de;
}

.comments-textarea__control {
  margin-top: 10px;
  margin-bottom: 20px;
}
.comments-textarea__input {
  background-color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  padding: 9px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  border: 1px solid #dedede;
}
.comments-textarea__input:focus, .comments-textarea__input:active {
  outline: none;
  border: 1px solid #3fb9de;
}
.comments-textarea__input::placeholder {
  color: #a4b0be;
  font-size: 14px;
}
.comments-textarea__highlighter{
  padding: 10px;
}
.comments-textarea__suggestions__list {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
  max-height: 200px;
  overflow: auto;
}
.comments-textarea__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.comments-textarea__suggestions__item — focused {
  background-color: #daf4fa;
}
